---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Camaras de seguridad">
	<main>
		<body>
			<!--top header section start -->
			<div class="top_header_section">
				<div class="container">
					<div class="top_section">
						<div class="row">
							<div class="col-sm-6">
								<div class="call_taital">
									<ul>
										<li><a href="#"><img src="call-icon.png"></a></li>
										<li><a href="#">+ 523112335091</a></li>
										<li class="mail"><a href="#"><img src="mail-icon.png"></a></li>
										<li><a href="#">kevin.aldape5238@alumnos.udg.mx</a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="top_taital">Comunicate con nosotros, te atenderemos </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- top header section start -->
				<!-- header section start -->
			<div class="header_section">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 col-lg-3">
							<div class="logo"><a href="index.html"><img src="logo.png"></a></div>
						</div>
						<div class="col-sm-5">
							<nav class="navbar navbar-expand-lg navbar-light bg-light">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
								</button>
							<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
								<div class="navbar-nav">
									<ul>
										<li><a class="nav-item nav-link" href="#">Inicio</a></li>
										<li>|</li>
										<li><a class="nav-item nav-link" href="#section_1">Conocenos</a></li>
										<li>|</li>
										<li><a class="nav-item nav-link" href="#section_2">Camaras</a></li>
										<li>|</li>
										<li><a class="nav-item nav-link" href="#section_3">Contactanos</a></li>
								   </ul>
								</div>
							</div>
							</nav>
						</div>
						<div class="col-sm-6 col-lg-4">
							<div class="search_main">
								<div class="left_main">
									<form class="form-inline my-2 my-lg-0">
										 <button class="submit_bt"><a href="#">Buscar<span class="doctor"><img src="search-icon.png"></span></a></button>
									</form>
								</div>
								<div class="right_main">
									<div class="login_text"><a href="#">Login<span class="user_icon"><img src="user-icon.png"></span></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- header section end -->
			<!-- banner section stert -->
			<div class="banner_section">
				<div class="container-fluid">
					<section class="slide-wrapper">
						<div class="container-fluid">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
							<ol class="carousel-indicators">
							   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							   <li data-target="#myCarousel" data-slide-to="1"></li>
							   <li data-target="#myCarousel" data-slide-to="2"></li>
							   <li data-target="#myCarousel" data-slide-to="3"></li>
							</ol>
		
						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="row">
									<div class="col-md-7">
										<div class="images_1"><img src="Cam_1.png"></div>
										<div class="banner_main">
											<div class="banner_left">
												<div class="red_bt"><a href="#section_2">Conocer mas</a></div>
											</div>
										<div class="banner_right">
											<h1 class="usiing_text">Camara Bala</h1>
											<p class="point_text">La camara tipo "Bala", es la mejor opcion para uso de exteriores. 
												Ademas de ofrecer una vision mas extendida tambien podemos encontrar muchos beneficios extra en este tipo de camaras. 
												Sistema ColorVu para vision a color 24/7, audio por medio de la tecnologia coaxitrion, resolucion 3K y 4K para sus mejores camaras.</p>
										</div>
									</div>
								</div>
									<div class="col-md-5">
										<div class="images_2"><img src="https://www.laarcom.com/uploads/blog/d19cd5b3e4c85a1009d301cc07210e976889cd38.jpeg?v06082023"></div>
									</div>
								</div>
						</div>
						<div class="carousel-item">
						   <div class="row">
							   <div class="col-md-7">
								   <div class="images_1"><img src="Cam_2.png"></div>
									<div class="banner_main">
										 <div class="banner_left">
											<div class="red_bt"><a href="#section_2">Conocer mas</a></div>
										</div>
										<div class="banner_right">
											<h1 class="usiing_text">Camara Turret</h1>
											<p class="point_text">La camara tipo "Turret", es la mejor opcion para uso de interiores. 
												Ademas de ofrecer una vision mas amplia tambien podemos encontrar muchos beneficios extra en este tipo de camaras. 
												Sistema ColorVu para vision a color 24/7, audio por medio de la tecnologia coaxitrion, resolucion 3K y 4K para sus mejores camaras.</p>
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="images_2"><img src="https://www.laarcom.com/uploads/blog/d19cd5b3e4c85a1009d301cc07210e976889cd38.jpeg?v06082023"></div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
						   <div class="row">
							   <div class="col-md-7">
								   <div class="images_1"><img src="Cam_3.png"></div>
									<div class="banner_main">
										 <div class="banner_left">
											<div class="red_bt"><a href="#section_2">Conocer mas</a></div>
										</div>
										<div class="banner_right">
											<h1 class="usiing_text">Estilo de camara 360°</h1>
											<p class="point_text">La camara con tecnologia de 360°, es la mejor opcion para uso de interiores abiertos,
												 gracias a su tecnologia de vision podemos ver todo lo que pasa alrededor de donde se instalo la camara ademas de ofrecer 
												 una vision de 360° tambien podemos encontrar muchos beneficios extra en este tipo de camaras. Audio por medio de la tecnologia coaxitrion,resolucion 2MP y 5MP para sus mejores camaras, soporte de multi visualizacion por medio de angulos.</p>
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="images_2"><img src="https://www.laarcom.com/uploads/blog/d19cd5b3e4c85a1009d301cc07210e976889cd38.jpeg?v06082023"></div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
						   <div class="row">
							   <div class="col-md-7">
								   <div class="images_1"><img src="Cam_4.png"></div>
									<div class="banner_main">
										 <div class="banner_left">
											<div class="red_bt"><a href="#section_2">Conocer mas</a></div>
										</div>
										<div class="banner_right">
											<h1 class="usiing_text">Estilo de camara PTZ</h1>
											<p class="point_text">La camara con tecnologia "PTZ", es la mejor opcion para sistemas de seguridad complejos,
												 uso de exsteriores cerrados o semiabiertos, ademas de ofrecer un control de la vision por medio de controles manuales 
												 para no perderse ningun angulo, entre otros muchos beneficios. Aaudio por medio de la tecnologia coaxitrion, resolucion 3K y 4K 
												 para sus mejores camaras, tampoco podemos olvidar que su gran soporte nos permite un zoom que ninguna otra camara puede ofrecer.</p>
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="images_2"><img src="https://www.laarcom.com/uploads/blog/d19cd5b3e4c85a1009d301cc07210e976889cd38.jpeg?v06082023"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
					
				</div>
			</div>
			<!-- banner section end -->
			<!-- about section start -->
			<div class="about_section layout_padding" id="section_1">
				<div class="container">
					<h1 class="about_text">Conocenos</h1>
					<p class="lorem_text">Nos importa tu seguridad, la de tu familia y tu negocio. Por 
						eso te ofrecemos una amplia variedad de camaras, atencion personalizada para acoplarnos a 
						tus necesidades. Ofrecemos venta a mayoristas y menudistas, ademas del servicio tecnico de instalacion. 
						Para conocer lo que deseas instalar es importante saber tus necesidades a cubrir, revisando el catalogo se puede 
						encontrar lo que mejor se acople a tus necesidades.  </p>
			</div>
			<!-- about section end -->
			<!-- Our cameras section start -->
			<div class="cameras_section layout_padding" id="section_2">
				<div class="container">
					<h1 class="Cameras_text">Nuestras Camaras</h1>
					<div class="cameras_section_2">
						<div id="main_slider" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner">
			<div class="carousel-item active">
			  <div class="row">
							<div class="col-md-6">
								<div class="images_3"><img src="img-2.png"></div>
								<div class="taital_main">
									<h2 class="best_text">BALA 4K</h2>
									<h2 class="dolar_text">$<span style="color: red;">1800</span></h2>
								</div>
								<p class="lorem_ipsum_text">Bala Turbohd 4k (8 Megapixel) / Imagen A Color 24/7 (colorvu) / Lente 2.8 Mm / Metal / Luz Blanca 20 Mts / Exterior Ip67 / Wdr 130 Db
									DS- </p>
							</div>
							<div class="col-md-6">
								<p class="ipsum_text">Bala Turbohd 3k (5 Megapixel) / Lente 3.6 Mm / Micrófono Integrado / Imagen A Color 24/7 (colorvu) / Luz Blanca 40 Mts / Exterior Ip67 / Dwdr / 4 Tecnologías / Metal</p>
								<div class="images_3"><img src="img-3.png"></div>
								<div class="taital_main">
									<h2 class="camera_text">BALA 3K</h2>
									<h2 class="dolar_text_2">$<span style="color: red;">1200</span></h2>
								</div>
							</div>
						</div>
			</div>
			<div class="carousel-item">
			  <div class="row">
							<div class="col-md-6">
								<div class="images_3"><img src="img-4.png"></div>
								<div class="taital_main">
									<h2 class="best_text">TURRET 4K</h2>
									<h2 class="dolar_text">$<span style="color: red;">400</span></h2>
								</div>
								<p class="lorem_ipsum_text">Turret Turbohd 4k (8 Megapixel) / Lente 2.8 Mm / Imagen A Color 24/7 (colorvu) / / Luz Blanca 40 Mts / Exterior Ip67 / Wdr 130 Db </p>
							</div>
							<div class="col-md-6">
								<p class="ipsum_text">Turret Turbohd 3k (5 Megapixel) / Micrófono Integrado / Lente 3.6 Mm / Imagen A Color 24/7 (colorvu) / 40 Mts Luz Blanca / Exterior Ip67 / Dwdr / 4 Tecnologías </p>
								<div class="images_3"><img src="img-5.png"></div>
								<div class="taital_main">
									<h2 class="camera_text">TURRET 3K</h2>
									<h2 class="dolar_text_2">$<span style="color: red;">400</span></h2>
								</div>
							</div>
						</div>
			</div>
			<div class="carousel-item">
			  <div class="row">
							<div class="col-md-6">
								<div class="images_3"><img src="img-6.png"></div>
								<div class="taital_main">
									<h2 class="best_text">360° 5MP</h2>
									<h2 class="dolar_text">$<span style="color: red;">5700</span></h2>
								</div>
								<p class="lorem_ipsum_text">Mini Fisheye Ip 5 Megapixel / Panorámica 180° - 360° / 8 Mts Ir / Interior / Poe / Heop / Acusense / Detección Facial / Microfono Integrado </p>
							</div>
							<div class="col-md-6">
								<p class="ipsum_text">Mini Fisheye Ip 5 Megapixel / Panorámica 180° - 360° / Microfono Integrado / 8 Mts Ir / Uso En Interior / Poe / Múltiples Vistas Por Ivms-4200 / Alarmas I/o / Micro Sd </p>
								<div class="images_3"><img src="img-7.png"></div>
								<div class="taital_main">
									<h2 class="camera_text">360° 5MP</h2>
									<h2 class="dolar_text_2">$<span style="color: red;">3500</span></h2>
								</div>
							</div>
						</div>
			</div>
			<div class="carousel-item">
				<div class="row">
							  <div class="col-md-6">
								  <div class="images_3"><img src="img-8.png"></div>
								  <div class="taital_main">
									  <h2 class="best_text">PTZ 2MP 25x Zoom</h2>
									  <h2 class="dolar_text">$<span style="color: red;">5200</span></h2>
								  </div>
								  <p class="lorem_ipsum_text">Domo Ptz Turbohd 2 Megapixel (1080p) / 25x Zoom / Exterior Ip66 / Ik10 / Wdr 120 Db / Rs-485 / Ultra Baja Iluminación </p>
							  </div>
							  <div class="col-md-6">
								  <p class="ipsum_text">Domo Ptz Turbohd 1080p / 15x Zoom / 100 Mts Ir Exir / Exterior Ip66 / Wdr 120 Db / Tvi / Rs-485 / Ultra Baja Iluminación </p>
								  <div class="images_3"><img src="img-9.png"></div>
								  <div class="taital_main">
									  <h2 class="camera_text">PTZ 1080p 15x Zoom</h2>
									  <h2 class="dolar_text_2">$<span style="color: red;">3900</span></h2>
								  </div>
							  </div>
						  </div>
			  </div>
		  </div>
		  <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
			<i class="fa fa-angle-left"></i></a>
		  </a>
		  <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
			<i class="fa fa-angle-right"></i>
		  </a>
		</div>
					</div> 
				</div>
			</div>
			<!-- Our cameras section end -->
			<!-- contact section start -->
			<div class="contact_section layout_padding" id="section_3">
				<div class="container">
					<h1 class="get_text">Contactanos</h1>
					<div class="mail_section">
						<div class="row">
							<div class="col-md-6">
								<input type="" class="input_text" placeholder="Nombre" name="Name">
								<input type="" class="input_text" placeholder="Numero Telefono" name="Phone Number">
							</div>
							<div class="col-md-6">
								<input type="" class="input_text" placeholder="Email" name="Email">
								<select>
									<option value="volvo">Bala</option>
									<option value="saab">Turret</option>
									<option value="opel">360°</option>
									<option value="audi">PTZ</option>
								</select>
							</div>
						</div>
						<textarea name="comment" class="massage_box" form="usrform">Comentarios...</textarea>
						<div class="send_bt">
							<div class="send_text"><a>ENVIAR</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid padding_0">
				<div class="map_main">
					<div class="map-responsive">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d119473.8657378646!2d-103.5303332!3d20.6468531!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428ad4a842d1bcd%3A0x30c9e224dee64c59!2sTienda%20Hikvision%20Oficial!5e0!3m2!1ses!2smx!4v1710385001077!5m2!1ses!2smx" width="600" height="508" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			<!-- contact section end -->
			<!-- footer section start -->
			<div class="footer_section">
				<div class="container">
					<div class="footer_logo"><img src="footer-logo.png"></div>
					<p class="long_text">Para conocer nuestrar novedades puedes suscribirte con tu Email y recibir promociones exclusivas. </p>
					<div class="footer_section_2">
						<div class="row">
							<div class="col-sm-12 col-lg-4">
								<div class="icon_main">
									<ul>
										<li><a href="#"><img src="map-icon.png"></a></li>
										<li><a href="#"><img src="email-icon.png"></a></li>
										<li><a href="#"><img src="contact-icon.png"></a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-12 col-lg-4">
								<h1 class="news_text">Informacion</h1>
									<input type="" class="email_bt" placeholder="Ingresa tu email" name="">
									<button class="subscribe_bt"><a href="#">Suscribete</a></button>
							</div>
							<div class="col-sm-12 col-lg-4">
								<div class="social_icon">
									<ul>
										<li><a href="#"><img src="fb-icon.png"></a></li>
										<li><a href="#"><img src="twitter-icon.png"></a></li>
										<li><a href="#"><img src="instagram-icon.png"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer section end -->
			<!-- copyright section start -->
			<div class="copyright_section">
				<div class="container">
					<p class="copyright_text">Copyright 2023 All Right Reserved By.<a href="https://html.design"> Free  html Templates</a> Distributed by: <a href="https://themewagon.com">ThemeWagon</a></p>
				</div>
			</div>
			<!-- copyright section end -->
		
		
			<!-- Javascript files-->
			<script type="text/javascript" src="jquery.min.js"></script>
			<script type="text/javascript" src="popper.min.js"></script>
			<script type="text/javascript" src="bootstrap.bundle.min.js"></script>
			<script type="text/javascript" src="jquery-3.0.0.min.js"></script>
			<script type="text/javascript" src="plugin.js"></script>
			<!-- sidebar -->
			<script type="text/javascript" src="jquery.mCustomScrollbar.concat.min.js"></script>
			<script type="text/javascript" src="custom.js"></script>
			<!-- javascript --> 
			<script type="text/javascript" src="owl.carousel.js"></script>
			<script type="text/javascript" src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
			<script type="text/javascript" src="javascript.js"></script>
		
		
			 
		</body>
	</main>
</Layout>

<style>
	
	/*!
 * Bootstrap Grid v4.1.0 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -ms-flex-order: 13;
  order: 13;
}

.order-0 {
  -ms-flex-order: 0;
  order: 0;
}

.order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  order: 3;
}

.order-4 {
  -ms-flex-order: 4;
  order: 4;
}

.order-5 {
  -ms-flex-order: 5;
  order: 5;
}

.order-6 {
  -ms-flex-order: 6;
  order: 6;
}

.order-7 {
  -ms-flex-order: 7;
  order: 7;
}

.order-8 {
  -ms-flex-order: 8;
  order: 8;
}

.order-9 {
  -ms-flex-order: 9;
  order: 9;
}

.order-10 {
  -ms-flex-order: 10;
  order: 10;
}

.order-11 {
  -ms-flex-order: 11;
  order: 11;
}

.order-12 {
  -ms-flex-order: 12;
  order: 12;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-sm-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-sm-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-sm-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-sm-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-sm-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-sm-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-sm-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-sm-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-sm-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-sm-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-sm-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-sm-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-sm-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-sm-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-md-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-md-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-md-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-md-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-md-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-md-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-md-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-md-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-md-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-md-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-md-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-lg-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-lg-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-lg-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-lg-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-lg-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-lg-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-lg-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-lg-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-lg-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-lg-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-lg-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-lg-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-xl-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-xl-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-xl-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-xl-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-xl-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-xl-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-xl-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-xl-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-xl-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-xl-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-xl-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-xl-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-xl-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-xl-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-row {
    display: table-row !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media print {
  .d-print-none {
    display: none !important;
  }
  .d-print-inline {
    display: inline !important;
  }
  .d-print-inline-block {
    display: inline-block !important;
  }
  .d-print-block {
    display: block !important;
  }
  .d-print-table {
    display: table !important;
  }
  .d-print-table-row {
    display: table-row !important;
  }
  .d-print-table-cell {
    display: table-cell !important;
  }
  .d-print-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-print-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}

.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}

.flex-grow-0 {
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
}

.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  -ms-flex-negative: 1 !important;
  flex-shrink: 1 !important;
}

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}

.align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
}

.align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important;
}

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important;
}

@media (min-width: 576px) {
  .flex-sm-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-sm-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-sm-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-sm-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-sm-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-sm-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-sm-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-sm-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-sm-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-sm-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-sm-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-sm-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .justify-content-sm-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .justify-content-sm-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-sm-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .justify-content-sm-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-sm-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .align-items-sm-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .align-items-sm-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .align-items-sm-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .align-items-sm-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .align-content-sm-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-sm-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-sm-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-sm-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-sm-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-sm-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-sm-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-sm-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-sm-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-sm-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-sm-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-sm-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (min-width: 768px) {
  .flex-md-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-md-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-md-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-md-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-md-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-md-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-md-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-md-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-md-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-md-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-md-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .justify-content-md-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .justify-content-md-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-md-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .justify-content-md-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-md-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .align-items-md-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .align-items-md-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .align-items-md-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .align-items-md-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .align-content-md-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-md-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-md-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-md-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-md-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-md-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-md-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-md-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-md-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-md-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-md-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-md-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (min-width: 992px) {
  .flex-lg-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-lg-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-lg-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-lg-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-lg-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-lg-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-lg-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-lg-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-lg-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-lg-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .justify-content-lg-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .justify-content-lg-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-lg-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .justify-content-lg-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-lg-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .align-items-lg-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .align-items-lg-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .align-items-lg-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .align-items-lg-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .align-content-lg-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-lg-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-lg-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-lg-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-lg-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-lg-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-lg-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-lg-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-lg-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-lg-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-lg-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-lg-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (min-width: 1200px) {
  .flex-xl-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-xl-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-xl-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-xl-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-xl-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-xl-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-xl-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-xl-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-xl-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-xl-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-xl-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-xl-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-xl-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .justify-content-xl-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .justify-content-xl-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-xl-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .justify-content-xl-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-xl-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .align-items-xl-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .align-items-xl-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .align-items-xl-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .align-items-xl-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .align-content-xl-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-xl-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-xl-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-xl-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-xl-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-xl-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-xl-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-xl-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-xl-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-xl-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-xl-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-xl-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}
/*# sourceMappingURL=bootstrap-grid.css.map */
/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: Poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}

.padding_0{
	padding: 0px;
}

.top_header_section{
	width: 100%;
	float: left;
	background-color: #292929;
	height: auto;
    padding: 10px; 
}

.top_section{
	width: 100%;
	float: left;
}

.call_taital{
	width: 100%;
	float: left;
}

.call_taital li{
	margin: 0px;
	 padding: 0px;
}

.call_taital li{
	float: left;
	font-size: 16px;
	color: #fcfcfc;
	padding-left: 20px;
}

.call_taital li a{ color: #fcfcfc; }

.mail{
	padding-left: 40px !important;
}

.top_taital{
	width: 100%;
	float: left;
	font-size: 16px;
	color: #fcfcfc;
	padding-left: 20px;
}

.header_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px;
    padding: 20px 25px;
    height: auto;
}


nav.main-menu {
    float: left;
    margin-left: 0;
    padding-top: 40px;
}

.main-menu ul {
    margin: 0;
    list-style-type: none;
    margin-bottom: 10px;
}

.main-menu ul>li {
    position: inherit;
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
    font-size: 16pt;
    color: #060608;
}

.logo {
    width: 100%;
    float: left;
    padding-top: 17px;
}

     
.submit_bt {
    font-size: 14pt;
    background-color: #fff;
    border: 2px solid #000;
    height: 50px;
    padding: 0px 10px;
    color: #4a4848;
    width: 100%;
    text-align: left;
}

.doctor {
    text-align: right;
    float: right;
}
.submit_bt a:hover{ color: #000; }

.search_main {
    width: 100%;
    float: left;
    padding-top: 7px;
}

.left_main {
    width: 60%;
    float: left;
    margin-right: 34px;
}

.right_main{
	width: 30%;
	float: left;
}

.login_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #000;
    padding-top: 10px;
}

.login_text a{ color: #000; }
.login_text a:hover{ color: red; }


.user_icon{
	text-align: right;
	float: right;
}

.bg-light {
    background-color: #ffffff!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #060608;
    font-size: 16pt;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: #000;
}

.banner_section {
    width: 100%;
    float: left;
    background-image: url('/banner.png');
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: red;
}

.navbar-nav ul{
    float: left;
}

.navbar-nav ul li {
    float: left;
    color: #eea4a4;
    font-size: 26px;
    padding-right: 10px;
}

.images_1 {
    width: 80%;
    float: left;
    padding-top: 40px;
}

.images_2 {
    width: 100%;
    float: left;
    padding-top: 65px;
}

.red_bt {
    width: 100%;
    float: left;
    
}

.red_bt a {
    width: 45%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: red;
    text-align: center;
    padding: 15px;
}

.red_bt a:hover{
	color: #fefefe;
    background-color: #000;
}

.banner_main{
	width: 100%;
	float: left;
	position: relative;
    top: -10px;
    left: 40px;
}

.banner_left{
	width: 40%;
	float: left;
}

.banner_right {
    width: 60%;
    float: left;
    top: -55px;
    position: relative;
}

.usiing_text{
	width: 100%;
	float: left;
	font-size: 40px;
    color: #0b0a0b;
    font-weight: bold;
}

.point_text{
	width: 85%;
	float: left;
	font-size: 16px;
    color: #0b0a0b;
    margin-left: 0px;
    margin-top: 0px;
}

.about_section {
    width: 100%;
    float: left;
    height: auto;
    background-size: 30%;
    background-repeat: no-repeat;
	background-color: gray;
    padding-bottom: 27px;
	
}

.about_text {
    width: 17%;
    float: left;
    font-size: 40px;
    color: #000000;
    border-bottom: 7px solid red;
    font-weight: bold;
}

.Cameras_text {
    width: 25%;
    margin: 0 auto;
    font-size: 40px;
    float: left;
    font-size: 40px;
    color: #000000;
    border-bottom: 7px solid red;
    font-weight: bold;
}


.lorem_text {
    width: 82%;
    float: left;
    color: #fafafa;
    font-size: 40px;
    padding-top: 46%;
    margin-left: 0px;
}

.about_bt {
    width: 100%;
    float: left;
    
}

.about_bt a {
    width: 17%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: red;
    text-align: center;
    padding: 15px;
}

.about_bt a:hover{
    color: #fefefe;
    background-color: #000;
}

.cameras_section{
    width: 100%;
    float: left;
    background-image: url(gallery-bg.png);
    height: auto;
    background-size: 100%;
}

.cameras_section_2{
    width: 100%;
    float: left;

}

.images_3{
    width: 100%;
    float: left;
    position: relative;
}

.taital_main {
    width: 100%;
    float: left;
    position: relative;
    
}

.best_text{
    width: 100%;
    float: left;
    font-size: 35px;
    color: red;
    text-align: center;
    font-weight: 400;
}

.dolar_text{
    width: 100%;
    float: left;
    font-size: 30px;
    color: #0f0f0f;
    text-align: center;
    font-weight: bold;
}

.lorem_ipsum_text{
    width: 100%;
    float: left;
    font-size: 20px;
    color: #0b0a0b;
    margin-left: 0px;
}

.get_text{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #000000;
    text-align: center;
    font-weight: bold;

}

.bt_text {
    width: 100%;
    float: left;
    
}

.bt_text a {
    width: 30%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: red;
    text-align: center;
    padding: 15px;
}

.bt_text a:hover{
    color: #fefefe;
    background-color: #000;
}

.ipsum_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #0b0a0b;
    margin-left: 0px;
    padding-top: 90px;
}

.camera_text{
    width: 100%;
    float: left;
    font-size: 35px;
    color: red;
    text-align: center;
    font-weight: 400;
}

.dolar_text_2{
    width: 100%;
    float: left;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.contact_section{
    width: 100%;
    float: left;
}

.mail_section {
    width: 100%;
    float: left;
    background-color: red;
    padding: 45px 65px;
    margin-top: 30px;
}

.input_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #a09b9b;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 35px;
    height: auto;
    padding: 10px 35px 10px 20px;
    border: none;
}

.nice-select {
    width: 100%;
    font-size: 16px;
    color: #a09b9b;
}

.massage_box{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #a09b9b;
    background-color: #ffffff;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 35px;
    height: auto;
    padding: 10px 35px 10px 20px;
    border: none;
}

.send_bt{
    width: 17%;
    margin:0 auto;
    text-align: center;

}


.send_text {
    width: 100%;
    float: left;
    
}

.send_text a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    background-color: red;
    text-align: center;
    padding: 12px;
}

.send_text a:hover{
    color: #000;
    background-color: #ffffff;
}

.map_main{
    width: 100%;
    float: left;
    padding-top: 45px;
}

.footer_section {
    width: 100%;
    float: left;
    background-color: #050101;
    height: auto;
    padding-bottom: 90px;
}

.footer_logo {
    width: 100%;
    float: left;
    text-align: center;
    top: -95px;
    position: relative;
}

.long_text {
    width: 52%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    color: #b2afaf;
    padding-top: 30px;
    display: flex;
}

.footer_section_2 {
    width: 100%;
    float: left;
    margin-top: 40px;
}

.icon_main {
    width: 39%;
    float: right;
    margin-top: 49px;
}

.icon_main li {
    float: left;
    padding-left: 20px;
}

.news_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    margin-left: 0px;
    text-align: center;
}

.email_bt {
    width: 70%;
    float: left;
    font-size: 16px;
    color: #c3c2c2;
    background-color: #ffffff;
    text-align: left;
    padding-left: 15px;
    height: 50px;
    border: 0px;
}

.subscribe_bt {
    width: 30%;
    background-color: red;
    float: right;
    padding: 9px 14px;
    color: #fff;
    height: 50px;
    font-size: 16px;
}

.subscribe_bt a {
    color: #ffffff;
}

.subscribe_bt a:hover{
    color: #000000;
}


.social_icon {
    width: 100%;
    float: left;
    margin-top: 47px;
}

.social_icon li {
    float: left;
    padding-right: 20px;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-left: 0px;
}

.copyright_text a {
    color: #000;
}

.copyright_text a:hover {
    color: red;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: -14px;
    top: 45%;
    background-color: red;
    color: #000;
}

#main_slider .carousel-control-prev:hover, #main_slider .carousel-control-next:hover, #main_slider .carousel-control-prev:focus, #main_slider .carousel-control-next:focus {
    background: red;
    color: #fff;
}
#main_slider a.carousel-control-next {
    position: absolute;
    left: 50%;
    top: 65%;
}
#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #fff;
    opacity: 1;
    font-size: 30px;
    color: #000;
    border-radius: 100%;
}





.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0;}


/*------------------------------ vertical bootstrap slider----------------------------*/

.banner_section .carousel-inner> .carousel-item.carousel-item-next ,
.banner_section .carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0); -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0);  top: 0;
    
}
.banner_section .carousel-inner > .carousel-item.carousel-item-prev ,
.banner_section .carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0); -webkit-transform: translate3d(0,-100%, 0);  -moz-transform: translate3d(0,-100%, 0);-ms-transform: translate3d(0,-100%, 0); -o-transform: translate3d(0,-100%, 0); top: 0;
    
}
.banner_section .carousel-inner > .carousel-item.next.carousel-item-left ,
.banner_section .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.banner_section .carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;
    
}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:20px;
    right:10px; left:auto;
    width:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.carousel-indicators li{
    display:block; margin-bottom:5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: red;
}
.carousel-indicators li.active{
    margin-bottom:5px; background:#0d0e0e;
    
}

.carousel-indicators {
    position: absolute;
    top: -45%;
    right:0;
    left:-95%;
}
/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }





}

@media (min-width: 992px) and (max-width: 1199px) {
    
    .titlepage h2::after {width: 58%;}
    .about-box .titlepage h2::after {
        width: 52%;
right: -221px;
    }
    .Nursery-img .text-box h3 {padding: 111px 50px;}
    .contact .titlepage h2::after {
    left: -650px;
width: 30%;
   }

.top_header_section { padding: 10px; }
.left_main { width: 58%; }
.navbar-expand-lg .navbar-nav .nav-link { padding-right: 0px; padding-left: 1px; font-size: 16px;}
.submit_bt { font-size: 16px; }
.login_text { font-size: 16px; }
.red_bt a { width: 65%; padding: 12px; }
.usiing_text { font-size: 26px; }
.point_text { font-size: 13px; }
.banner_main { top: 5px; }
.about_text { width: 20%; }
.lorem_text { width: 80%; }
.about_section { background-size: cover; padding-bottom: 87px; }
.Cameras_text { width: 30%; }
.icon_main { width: 50%; }
.email_bt { width: 63%; }
.subscribe_bt { width: 37%; }
.long_text { width: 60%; padding-top: 0px; }
.taital_main { top: -125px; }
.navbar-nav ul li { padding-right: 7px; font-size: 25px;  }






}

@media (min-width: 768px) and (max-width: 991px) {
    .main-menu ul > li a {padding: 7px 6px ; }
    .main-menu ul>li a { font-size: 14px;}


    .banner-main .carousel-caption h1 {

        font-size: 36px;
        padding-top: 0px;
    }
    .banner-main .carousel-caption p {

        margin-bottom: 7px;
        display: none;
    }
    .main { width: 15%;}
    .info_icon { min-width: 10%;}
    #main_slider a.carousel-control-prev {
    display: none;
    }
    .btn_main { margin-top: 58px; width: 65%;}
    #main_slider a.carousel-control-next {
    display: none;
    }
    .sporrt_text { margin-top: 0px; font-size: 24px;}
    .email_btn { padding: 41px;}
    .btn-primary {max-width: 144px; }
    .titlepage h2::after {width: 79%;}
    .about-box .titlepage h2::after {width: 73%;
       right: -88px;
    }
    .contact .titlepage h2::after {
        left: -403px;
        width: 41%;
    }
    .paddimg-right {
        padding-right: 15px;
    }
    .paddimg-left {
         padding-left: 15px;
    }
.top_section { padding: 10px 0px; }
.call_taital li { font-size: 14px; padding-left: 10px; }
.top_taital { font-size: 14px; }
.left_main { width: 65%; margin-right: 15px; }
.search_main {
    width: 100%;
    padding-top: 0px;
    position: relative;
    top: -37px;
}
.logo { padding-top: 0px; }
.submit_bt { height: 35px; font-size: 12pt; }
.bg-light { padding-top: 20px; }
.banner_main { position: initial;}
.banner_right { width: 100%; position: initial;}
.usiing_text { font-size:26px; }
.red_bt a { display: none; }
.about_text { width: 27%; }
.about_section { background-size: cover; padding-bottom: 75px; }
.lorem_text { width: 71%; font-size: 40px; }
.Cameras_text { width: 40%; }
.taital_main { top: -105px; }
.bt_text a { width: 36%; padding: 12px; }
.send_bt { width: 25%; }
.send_text a { font-size: 16px; }
.footer_logo {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    top: -57px;
    position: relative;
    float: initial;
}

.icon_main { width: 61%; margin-bottom: 30px; margin-top: 0px;}
.subscribe_bt { width: 36%; }
.email_bt { width: 64%; }
.social_icon { width: 59%; float: right; }
.footer_section { padding-bottom:40px;}
.long_text { width: 100%; }



}

@media (min-width: 576px) and (max-width: 767px) {
    .last {display: none;}
    .banner-main .carousel-caption {top: 0%;}
.titlepage h2 {
font-size: 42px;
display: block; 
}
#main_slider a.carousel-control-prev {
    position: absolute;
    left: 25%;
    top: 64%;
    display: none;
}
.btn_main { margin-top: 58px; width: 80%;}
#main_slider a.carousel-control-next {
    position: absolute;
    left: 50px;
    top: 64%;
    display: none;
}
.btn-primary {
    margin-top: 0px;
    margin-left: -7px;
}
.menu_main {
    width: 95%;}

.banner-main .carousel-caption h1 {
    font-size: 50px;
}
.titlepage h2::after {
width: 88%;
}

.about-box .titlepage h2::after {width: 45%;
right: -281px;}
.sporrt_text { margin-top: 0px;}
.Nursery-img .text-box h3 {
font-size: 36px;
padding: 126px 40px;
}
.main {
    width: 20%;}

.contact .titlepage h2::after {
    left: -234px;
    width: 55%;
}

.top_section { display: none; }
.search_main { width: 100%; top: -54px; position: relative;}
.right_main { display: none;}
.left_main { width: 100%; }
.bg-light { top: 20px; }
.banner_section { padding-bottom: 80px; }
.banner_main { position: initial;}
.banner_right { width: 100%; position: initial;}
.usiing_text { font-size:26px; }
.red_bt a { display: none; }
.images_2 { padding: 0px; }
.carousel-indicators li { top: 60px; }
.about_text { width: 36%; }
.about_section { background-size: cover; padding-bottom: 80px; }
.lorem_text { width: 100%; }
.about_bt a { width: 27%; }
.Cameras_text { width: 54%; }
.massage_box { margin-top: 30px; }
.send_bt { width: 35%; }
.send_text a { padding: 10px; }
.footer_logo {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    top: -57px;
    position: relative;
    float: initial;
}

.icon_main { width: 66%; margin-bottom: 30px; margin-top: 0px;}
.subscribe_bt { width: 36%; }
.email_bt { width: 64%; }
.social_icon { width: 66%; float: right; }
.footer_section { padding-bottom:40px;}
.long_text { width: 100%; }
.top_header_section { padding: 0px; }

}


@media (max-width: 575px) {}
    .last { display: none; }
    .carousel-caption {display: none;} 
.header { padding-top: 0px; }
.logo { float: inherit; padding-bottom: 15px; text-align: center;}
.btn-primary {max-width: 126px;
margin-right: 2px;
font-size: 14px;}
.banner-main .carousel-caption h1 {font-size: 30px; line-height: 38px;}
.titlepage h2 {
    font-size: 27px;
}
.sporrt_text{ 
     font-size: 23px; 
     margin-top: 0px;
}
.main {
    width: 30%;
}
.btn_main {
    margin-top: 30px;
    padding-bottom: 30px;
    width: 55%;}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 175px;
    top: 90%;
    display: none;
}

#main_slider a.carousel-control-next {
    position: absolute;
    left: 236px;
    top: 90%;
    display: none;
}

.titlepage h2::after {
    width: 93%;
}
    .about-box .titlepage h2::after {
        width: 238px;
        right: -50px;
    }
 .Gallery .titlepage h2 {
    font-size: 47px;
 }
    .Gallery .titlepage h2::after {
        width: 89%;
    }

    .paddimg-right {
    padding-right: 15px;
}
.paddimg-left {
    padding-left: 15px;
}
.Nursery-img .text-box h3 {
font-size: 23px;
padding: 30px 14px;

}

.contact .titlepage h2::after {

    left: -8px;
    width: 281px;
}
.footer .headinga span {
font-size: 16px;

}
.menu-bottom {
    margin-bottom: 45px;
}
ul.link li {

    padding: 8px 12px;
    padding-bottom: 0px; 
}


.top_section { display: none; }
.logo { float:left; padding-top: 0px; text-align: right;}
.bg-light { background-color: transparent !important; position: relative; top: -53px; left: -16px; }
.search_main { display: none;}
.red_bt { display: none;}
.banner_main { position: initial;}
.banner_right { width: 100%; position: initial;}
.usiing_text { font-size:26px; }
.point_text { width: 100%; font-size: 14px; }
.about_section { background-size: cover; padding-bottom: 50px;}
.about_text {width: 66%; position: relative; top: -83px; }
.lorem_text { width: 100%; }
.lorem_text { font-size: 30px; padding-top: 0px;}
.about_bt a { width: 45%;  }
.Cameras_text { width: 95%; position: relative; top: -40px; }
.taital_main { top:-85px; }
.best_text { font-size:24px; padding-bottom: 0px; }
.dolar_text { font-size:24px; }
.bt_text a { width: 45%; }
.camera_text { font-size:24px; padding-bottom: 0px;}
.dolar_text_2 { font-size:24px; }
.mail_section { padding:20px; }
.massage_box{ margin-top: 30px; }
.send_bt { width: 50%; }
.send_text a { padding: 10px; font-size: 16px; }
.long_text { width: 100%; font-size: 14px; } 
.footer_logo {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    top: -50px;
    position: relative;
    float: initial;
}

.icon_main { width: 78%; margin-bottom: 30px; }
.subscribe_bt { width: 36%; }
.email_bt { width: 64%; }
.social_icon { width: 75%; float: right; }
.footer_section { padding-bottom:40px;}

.carousel-indicators { top:-80%; }

</style>
